@keyframes fadeOut {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html,
body {
    font-family: "EB Garamond", sans-serif;
    /* font-family: "Raleway", sans-serif; */
    min-height: 100%;
    box-sizing: border-box;
    background-color: #F8F9FA;
    overflow-x: hidden !important;
    opacity: 0;
    animation: fadeIn 0.5s ease-in   forwards;
    scroll-behavior: smooth;
}

.social-media a {
    color: white;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: #454545;
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
    background: grey;
}

.container-fluid {
    height: 100vh;
    width: 100vw;
    display: block;
}

.background {
    display: block;
}

.background img {
    position: absolute;
  left:0;
  top:0;
        height: 100vh;
        width: 100vw;
    object-fit: cover;
  overflow: hidden;
  display: flex;
}


#image1 {
  animation: fadeOut 0.75s linear 0.5s forwards;
  filter:brightness(50%);
}

#image2 {
  animation: fadeOut 0.75s linear 1.25s forwards;
  opacity: 1;
  filter:brightness(50%);
}

#image3 {
  animation: fadeOut 0.75s linear 2s forwards;
  opacity: 1;
  filter:brightness(50%);
}

#image4 {
  /* animation: fadeOut 0.75s ease-in-out 2.75s forwards; */
  /* opacity: 1; */
  filter:brightness(50%);
}

.title-text {
  text-align: center;
  width: 100%;
  padding-top: 10vh;
  color: white;
  letter-spacing: 1rem;
  z-index: 99;
}

.subtitle-text {
  font-family: "Raleway", serif;
  color: white;
  z-index: 9999;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* animation: fadeIn 2s ease-in 3.5s forwards; */
  /* opacity: 0; */
}

.subtitle-text p {
}

.joinbtn {
  justify-content: center;
  align-items: center;    
  display: flex;
}

.joinbtn .button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    padding: 0.5em 1.5em;
}

.joinbtn .button:hover {
    background-color: rgba(64, 0, 128, 0.5);
    color: white;
    text-decoration: none;
    transition-duration: .5s;
}

.img-col {
  padding: 0 !important;
}

.navbar {
  background-color: transparent;
  z-index: 99;
  font-family: "Raleway", sans-serif;
}

.navbar-brand {
  /* padding-left: 60px;
  padding-right: 60px; */

}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

.nav-link {
  color: white !important;
  font-size: 1rem;
  font-weight: 500;
}

/* .navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
} */

.dropdown-item:hover {
    background-color:  rgba(64, 0, 128, 0.5);
    transition-duration: .5s;
}


.join-us-button {
  border: 1px solid #400080;
  padding: 10px;
  font-size: 1.5rem;
  color: white !important;
  font-weight: bold;
  font-style: italic;
}

.meet-us-button {
  border: 2px solid white;
  padding: 10px;
  font-size: 1.5rem;
  color: white !important;
  font-weight: bold;
  font-style: italic;
}

.meet-us-button:hover{
    background-color: rgba(255, 255, 255, 0.25);
    transition-duration: .5s;
    text-decoration: none;
}

.our-committee-wrapper {
  padding-left: 10%;
  padding-right: 10%;
}

.our-committee-header {
  font-size: 3rem;
  padding-bottom: 10%;
  letter-spacing: 1rem;
  font-weight: bolder;
  color: white !important;

}

.our-committee-intro {
  padding-bottom: 15%;
  font-size: 1.2rem;
  justify-self: center; 
  color: white !important;
}

.our-committee-section {
  background-color: #731F5F;
    clear: both;
}

.committee-blank {
  margin: 0;
  background-color: #400080;
}

#committeeMobile {
    display: none;
}

.committeeHidden {
    background-image: url(../img/sponsor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40vh;
}

.committeeHidden h1{
    text-align: center;
    color: white;
}

.committeeText {
    text-align: center;
}

.overlay {
    background-color: rgba(64, 0, 128, 0.7);
    width: 100%;
    height: 40vh;
}

.bannering {
    height: 100%;
}

.pres-welcome-section {
  background-color: #400080;
  color: white;
  align-items: center;
    clear: both;
}


.pres-welcome-wrapper {
  width: 80%;
}

.pres-welcome{
  font-size: 4rem;
  letter-spacing: 0.5rem;
  font-style: oblique;
}

.pres-info {
    font-size: 2rem;
    padding:2% 0;
}


.about-us {
  /* background-color:#731F5F; */
  color: black;
}

.about-us-wrapper {
  padding: 0 10% 5%;
  height: 100%;
}

.about-us-header {
  font-size: 3rem;
  padding: 8% 0 2%;
  letter-spacing: 1rem;
  font-weight: bolder;
  
}

.welcome-title {
  padding-bottom: 20px;
  font-size: 2rem;
}

.about-us-detail {
  font-size: 1.5rem;
  width: 50vw;
}

.find-out-button {
  border: 2px solid black;
  padding: 10px;
  font-size: 1.5rem;
  color: black !important;
  font-weight: bold;
  font-style: italic;
}

.find-out-button:hover{
    background-color: rgba(64, 0, 128, 0.25);
    transition-duration: .5s;
    text-decoration: none;
}

.sponsor-row {
  padding: 4% 15%;
}

.sponsors-title {
  font-size: 4rem;
  background-color: #731F5F;
  color: white;
}

.sponsors-title:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 80%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid purple; /* This creates the border. Replace black with whatever color you want. */
}

img.centered {
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
}

footer {
    width: 100vw;
    height: 3vh;
    text-align: center;
}


@media only screen and (max-width: 768px) {

  
  html {
    font-size: 6px !important;
  }

    .title-text {
        font-size: 12rem;
        padding-top: 5vh;
    }
    
    .landingText {
        transform: translateY(25vh);        
    }

  .wrapper {
    background-size: initial;
  }

    .background {
        display: block;
    }

  p {
    font-size: 2rem !important;
  }

  .navbar-brand {
    padding: 2vh 2vh;
  }

  .navbar-brand > img {
    height: 40px;
    width: 40px;
  }
    
  .joinbtn {
    font-size: 2em;      
  }

  .social-media {
    display: flex;
  }

  .pres-welcome-row {
    flex-direction: column;
    align-items: center;
  }

  .pres-welcome-row > * {
    max-width: 100vw !important;
    padding: 2vh;
  }

  #president-photo {
      background-color: rgba(64, 0, 128, 1);
        padding-top: 4vh;
      display: block;
  }
    
    #president-photo img {
        width: 25vw !important;
        display:block;
        margin:auto;
        border-radius: 5px;
    }
    
    #aboutus-photo img {
        width: 100vw !important;
        display:block;
        margin:auto;
    }    

    .about-us-detail {
      font-size: 1.5rem;
      width: 80vw;
    }
    
    .subtitle-text {
      font-size: 2em;
      padding: 2px 0;
    }

    .row.equal {
        display: flex;
        flex-wrap: wrap;
    }
    
    #committee {
        display: none;
    }
    
    #committeeMobile {
        display: block;
    }
    
    .our-committee-intro {
      font-size: 1.5rem;
    }
    
    .dropdown-menu {
        background-color: transparent;
        transition: 2s;
    }
    
    .dropdown-menu a {
        color: white;
    }
    
}


@media only screen and (min-width: 768px) {

  html {
    font-size: 8px;
  }

  .title-text {
    font-size: 12rem;
  }
  .navbar {
    padding: 1vh 10vh;
  }

}

@media only screen and (min-width: 992px) {
  html {
    font-size: 12px;
  }

  p {
    font-size: 1.333rem;
  }


  

  .navbar {
    padding: 1vh 15vh;
  }



}

@media only screen and (min-width: 1400px) {

  .container {
    max-width: 1400px;
  }
}

@media only screen and (min-width: 1600px) {
  html {
    font-size: 16px;
  }


}

@media only screen and (min-width: 2400px) {
  .title-text {
    font-size: 14rem;
    padding-top: 20vh;
  }

}
